
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
}

#flags-panel{
  margin: 10px auto 24px;  
  display: inline-block;   
  padding: 4px 8px;        
}

 button {
      margin: 0 5px;
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
    }

.icon-btn{
  border:none;
  background:transparent;
  padding:20px;
  margin:0 8px;
  cursor:pointer;
}
.icon-btn img{
  width:42px;
  height:auto;
  display:block;
} 

.icon-img{
  border:none;
  background:transparent;
  padding:20px;
  margin:0 8px;
  cursor:pointer;
}
.icon-img{
   width:42px;
  height:auto;
  display:block;
}

#emoji-panel{
  margin: 8px auto 12px;
}
.emoji-btn{
  border:none;
  background:transparent;
  padding:8px;
  cursor:pointer;
}
#emoji-img{
  width:48px;         /* גודל אחיד לכל הקבצים (PNG/GIF) */
  height:48px;
  object-fit:contain; /* משמר יחסים */
  display:block;
  user-select:none;
  pointer-events:none;
}

table { margin: 100px auto }
.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(255,255,255,0.06);
}
.cell img { width: 25px; height: auto; user-select: none; pointer-events: none }

.cell { cursor: default; }      
.cell:hover { cursor: pointer; }

.floor { background-color: rgb(183, 183, 183) }

.hide { display: none } 